extends layout

block content

	form(id = "searchbox", action = "")
		input(id = "search", type = "text", placeholder="What is...")
		input(id = "submit", type = "submit", value = "Storinary!")
	
	div.story