doctype 5
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/FlatUI/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', type='text/css', href='/FlatUI/css/flat-ui.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    block scripts
  body
    block content
