/*UNIVERSAL BORDER*/
	* {
		/*border: 1px solid black;*/
	}

/*GENERAL*/
	body {
	  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	a {
	  color: #00B7FF;
	}

/*SEARCH BAR*/
	.toolbar {
		overflow: hidden;
		width: 100%;
		height: 41px;
		position: absolute;
		top:0;
		left:0;
	}

	#searchbox {
		width: 600px;
		height: 40px;
		margin: auto;
	}

	#search {
		width: 506px;
		float: left;
		margin: auto;
	}

	#submit {
		width: 80px;
		height: 41px;
		float: left;
		margin: auto;
	}

/*STORY*/
	.story {
		width: 350px;
		padding: 200px;
		border: 2px solid blue;
		margin: auto;
	}

/*LOGIN*/
	.login-button {
		position: relative;
		margin-right: auto;
		margin-left: auto;
		margin-top: -75px;
		width: 133px;
		display: none;
	}

	/*Image and text*/
	.cf:before,
	.cf:after {
	    content: " ";
	    display: table;
	}

	.cf:after {
	    clear: both;
	}

	.cf {
	    *zoom: 1;
	}

	.text h1 {
		font-family: Lato;
		font-size: 10em;
		text-align: center;

		background-image: url('/images/texture.jpg');
		background-color: white;
		-webkit-animation: 60s slideBg infinite linear;
    	-moz-animation: 60s slideBg infinite linear;

		-webkit-background-clip: text;
		background-clip: text;

		color: rgba(0,0,0,0);
	}

	@-webkit-keyframes slideBg {
	    0% {
	        background-position: 0 0;
	    }
	    100% {
	        background-position: 0 -1000px;
	    }
	}
	@-moz-keyframes slideBg {
	    0% {
	        background-position: 0 0;
	    }
	    100% {
	        background-position: 0 -1000px;
	    }
	}