/*UNIVERSAL BORDER*/
	* {
		/*border: 1px solid black;*/
	}

/*GENERAL*/
	body {
	  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	a {
	  color: #00B7FF;
	}

	html {
		background-color: #ddd;
	}

	body {
		background-color: #ddd;
	}

/*SEARCH BAR*/
	.search_bar {
		width: 600px;
		height: 30px;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.text_input {
		width: 93%;
		height: 100%;
		float: left;
		border: 2px solid gray;
	}

	.search_button {
		width: 30px;
		height: 100%;
		float: left;
		border: 2px solid black;
	}

/*STORY*/
	.story {
		width: 350px;
		padding: 200px;
		border: 2px solid blue;
		margin: auto;
	}

	.login-button {
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
		width: 133px;
		display: none;
	}